.header{
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 25px 25px;

    .header__logo{
        
        .header__logoImg {
            object-fit: contain;
            flex: 1;
            width: 90px;
            margin-right: 100px;
        }
    }
}