.header{
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 25px 25px;

    .header__logo{
        
        .header__logoImg {
            object-fit: contain;
            flex: 1;
            width: 90px;
            margin-right: 100px;
        }
    }

    .header__links{
        display: flex;
        gap: 15px;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-weight: 500;
            font-size: 15px;
        }
    }

    .header__right{
        display: flex;
        align-items: center;
        gap: 15px;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-weight: 500;
            font-size: 15px;
        }
    }
}